<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Pollution Monitoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <h1>Real-Time Pollution Monitoring</h1>
    <div id="map" style="height: 500px;"></div>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
</body>
</html>
